/.tmp/
/*.log
/prebuilt/*
!/prebuilt/bundle-android-aar/
!/prebuilt/bundle-apple-xcframework-ios/
.DS_Store
.idea
/src/
/prebuilt/bundle-apple-xcframework-ios/ffmpeg-kit-https-6.0-ios-xcframework.zip
